$primary-color: #EFF4F8;
$secondary-color: #ABE4F9;
$tertiary-color: #00AEEF;
$quarternary-color: #262262;
$quinary-color: #000B28;
// $quinary-color: #0C132D;

$primary-color-rgba: rgba(238, 238, 238, 0.75);
$secondary-color-rgba: rgba(171, 228, 249, 0.75);
$tertiary-color-rgba: rgba(0, 174, 239, 0.75);
$quarternary-color-rgba: rgba(38, 34, 98, 0.75);
$quinary-color-rgba: rgba(0, 11, 41, 0.75);
// $quinary-color-rgba: rgba(12, 19, 45, 0.75);