$primary-color: #EFF4F8;
$secondary-color: #ABE4F9;
$tertiary-color: #00AEEF;
$quarternary-color: #262262;
$quinary-color: #000B28;
// $quinary-color: #0C132D;

$primary-color-rgba: rgba(238, 238, 238, 0.75);
$secondary-color-rgba: rgba(171, 228, 249, 0.75);
$tertiary-color-rgba: rgba(0, 174, 239, 0.75);
$quarternary-color-rgba: rgba(38, 34, 98, 0.75);
$quinary-color-rgba: rgba(0, 11, 41, 0.75);
// $quinary-color-rgba: rgba(12, 19, 45, 0.75);

.alert {
  display: inline-block;
  font-size: calc(1rem + 0.5vw);
  font-weight: 700;
  text-align: center;
}

$contact-form-border: 0px solid $quinary-color-rgba;
$contact-form-transition: 0.15s ease-in;

.contact-form-heading {
  background-color: $quinary-color-rgba;
  border-left: $contact-form-border;
  border-radius: calc(1rem + 0.1vw) calc(1rem + 0.1vw) 0 0;
  border-right: $contact-form-border;
  border-top: $contact-form-border;
  padding: calc(0.5rem + 0.25vw) calc(0.5rem + 0.25vw) 0 calc(0.5rem + 0.25vw);
  & h2 {
    color: $primary-color;
    font-size: calc(1rem + 0.5vw);
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
  }
  & .contact-form-heading-emphasis {
    font-style: italic;
    font-weight: 900;
  }
}

.contact-form {
  background-color: $quinary-color-rgba;
  border-radius: 0 0 calc(1rem + 0.1vw) calc(1rem + 0.1vw);
  margin: auto;
  padding: calc(0.75rem + 0.75vw);
  width: 100%;
  & .contact-form-submit-button {
    background-color: $primary-color;
    border: none;
    border-radius: calc(0.5rem + 0.1vw);
    color: $quinary-color;
    display: block;
    font-weight: 700;
    font-size: calc(1rem + 0.25vw);
    margin: auto;
    padding: calc(0.25rem + 0.25vw) calc(1rem + 1vw);
    transition: $contact-form-transition;
    & .contact-form-submit-button-emphasis {
      font-style: italic;
      font-weight: 700;
    }
    &:hover {
      background-color: $tertiary-color;
      color: $primary-color;
      cursor: pointer;
      transition: $contact-form-transition;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  & input {
    background-color: $primary-color;
    border: 3px solid $primary-color;
    border-radius: calc(0.5rem + 0.1vw);
    box-shadow: none;
    color: $quinary-color;
    display: block;
    height: calc(1.85rem + 1vw);
    outline: none;
    padding: calc(0.5rem + 0.1vw) 0 0 calc(0.5rem + 0.1vw);
    width: 100%;
    &::placeholder {
      opacity: 0;
    }
    &:focus {
      border: 3px solid $tertiary-color;
    }
  }
  & label {
    color: $quinary-color;
    font-size: calc(0.75rem + 0.25vw);
    font-style: italic;
    left: calc(0.5rem + 0.1vw);
    position: absolute;
    top: 0;
  }
  & textarea {
    background-color: $primary-color;
    border: 3px solid $primary-color;
    border-radius: calc(0.5rem + 0.1vw);
    box-shadow: none;
    color: $quinary-color;
    display: block;
    outline: none;
    padding: calc(1rem + 0.1vw) 0 0 calc(0.5rem + 0.1vw);
    width: 100%;
    &::placeholder {
      opacity: 0;
    }
    &:focus {
      border: 3px solid $tertiary-color;
    }
  }
  & input:focus ~ label,
  & input:not(:placeholder-shown) ~ label,
  & textarea:focus ~ label,
  & textarea:not(:placeholder-shown) ~ label {
    color: $quinary-color;
    font-size: calc(0.5rem + 0.25vw);
    top: calc(0.05rem + 0.05vw);
    transition: $contact-form-transition;
  }
  & .contact-form-input {
    margin-bottom: calc(0.25rem + 0.25vw);
    position: relative;
  }
  & .required-field-asterisk {
    color: $quinary-color;
  }
  & .required-field-text {
    color: $primary-color;
    font-size: calc(1rem + 0.25vw);
    text-align: center;
  }
}