.contact-page-background {
  background-color: $quinary-color;
  background-image: 
    linear-gradient(
      rgba(2, 3, 5, 0.35),
      rgba(2, 3, 5, 0.35),
    ),
    url('/static/img/house-01.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.contact-wrapper {
  background-color: $primary-color;
  @media (max-width: 767.98px) {
    & .beginning-of-page-spacer-mobile {
      padding-top: calc(#{$call-now-free-quote-buttons-top-offset} + 2rem);
    }
  }
  & .navbar-spacer {
    background-color: $primary-color;
  }
  & .contact-header {
    color: $quinary-color;
    text-align: center;
    @media (min-width: 768px) {
      margin: calc(1rem + 1vw) 0;
    }
  }
  & .contact-row {
    padding: calc(1rem + 1vw);
    & .contact-col-text {
      color: $quinary-color;
      display: flex;
      flex-direction: column;
      font-size: calc(1.25rem + 0.5vw);
      justify-content: center;
      padding: calc(1rem + 1vw);
      & .nav-logo-text {
        fill: $quinary-color;
        height: calc(1.25rem + 0.5vw);
        position: relative;
        bottom: calc(0.1rem + 0.05vw);
      }
      & .phone-number {
        align-items: center;
        display: flex;
        font-style: italic;
        padding: calc(0.5rem + 0.5vw);
        & .icon-phone {
          fill: $quinary-color;
          height: calc(1rem + 1vw);
          margin-right: calc(0.25rem + 0.1vw);
          width: calc(1rem + 1vw);
        }
        @media (max-width: 767.98px) {
          font-size: calc(1rem + 0.25vw);
        }
      }
      & .hours-of-operation {
        align-items: center;
        display: flex;
        font-style: italic;
        padding: calc(0.5rem + 0.5vw);
        & .icon-hours-of-operation {
          fill: none;
          stroke: $quinary-color;
          stroke-width: calc(0.25rem + 0.25vw);
          height: calc(1rem + 1vw);
          margin-right: calc(0.25rem + 0.1vw);
          width: calc(1rem + 1vw);
        }
        @media (max-width: 767.98px) {
          font-size: calc(0.75rem + 0.25vw);
        }
      }
      &.centered {
        text-align: center;
      }
    }
    & .contact-col-contact-form {
      padding: calc(1rem + 1vw);
    }
  }
}