$footer-transition: 0.1s ease-in;

footer {
  background-color: $quinary-color-rgba;
  padding-bottom: calc(2rem + 2vw);
  color: $primary-color;
  text-align: center;
  & .footer-back-to-top {
    padding: calc(1rem + 1vw);
    & .icon-back-to-top {
      height: calc(2rem);
      fill: $primary-color;
      transition: $footer-transition;
      width: calc(2rem);
      &:hover {
        cursor: pointer;
        fill: $tertiary-color;
        transition: $footer-transition;
      }
    }
  }
  & .footer-contact {
    padding: calc(2rem + 1vw);
    & .logo-rcpw {
      height: calc(8rem + 8vw);
      width: calc(8rem + 8vw);
      margin: calc(1rem + 1vw);
    }
    & .footer-contact-phone {
      font-size: calc(1rem + 0.75vw);
      font-style: italic;
      padding: calc(0.5rem + 0.5vw) 0;
      & .icon-phone {
        height: calc(1rem + 1vw);
        fill: $primary-color;
        width: calc(1rem + 1vw);
      }
    }
    & .footer-contact-hours-of-operation {
      font-size: calc(0.75rem + 0.5vw);
      font-style: italic;
      padding: calc(0.5rem + 0.5vw) 0;
      & .icon-hours-of-operation {
        fill: none;
        height: calc(1rem + 1vw);
        stroke: $primary-color;
        stroke-width: calc(0.25rem + 0.1vw);
        width: calc(1rem + 1vw);
      }
    }
    & .footer-contact-text {
      font-size: calc(1rem + 0.25vw);
      padding: calc(0.5rem + 0.5vw) 0;
    }
  }
  & .footer-copyright {
    font-size: calc(0.75rem + 0.75vw);
    padding: calc(1rem + 1vw);
  }
  & .footer-flair {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: calc(2rem + 1vw);
    & .logo-facebook {
      padding: calc(0.5rem + 0.5vw);
      width: 20vw;
    }
    & .logo-google {
      padding: calc(0.5rem + 0.5vw);
      width: 20vw;
    }
    & .logo-pittsburgh-penguins {
      padding: calc(0.5rem + 0.5vw);
      width: 20vw;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      & .logo-facebook {
        padding: calc(1rem + 1vw);
        width: 40vw;
      }
      & .logo-google {
        padding: calc(1rem + 1vw);
        width: 40vw;
      }
      & .logo-pittsburgh-penguins {
        padding: calc(1rem + 1vw);
        width: 40vw;
      }
    }
    @media (max-width: 575.98px) {
      & .logo-facebook {
        padding: calc(1rem + 1vw);
        width: 60vw;
      }
      & .logo-google {
        padding: calc(1rem + 1vw);
        width: 60vw;
      }
      & .logo-pittsburgh-penguins {
        padding: calc(1rem + 1vw);
        width: 60vw;
      }
    }
  }
  & .footer-map {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(2rem + 1vw);
    & .footer-map-iframe {
      height: 100%;
      width: 100%;
    }
    & .footer-map-text {
      font-size: calc(0.5rem + 0.35vw);
      padding: calc(0.5rem + 0.5vw);
    }
    @media (max-width: 767.98px) {
      padding-bottom: 0;
      padding-top: 0;
      & .footer-map-iframe {
        height: 50vh;
      }
    }
  }
  & .footer-recaptcha {
    padding: calc(1rem + 1vw);
  }
}