// 'FREE Quote' button for mobile displays
@media (max-width: 767.98px) {
  & .nav-free-quote {
    display: block;
  }
}

// Landing Page
.landing-page-row {
  height: calc(100vh - #{$navbar-spacer-height-desktop} - #{$landing-page-footer-height-desktop}); // navbar + landing page footer height
  & .landing-page-col-left {
    padding: calc(0.5rem + 0.5vw);
    & .landing-page-caption {
      background-color: $quinary-color-rgba;
      border-radius: calc(0.5rem + 0.5vw);
      color: $primary-color;
      font-size: calc(0.5rem + 0.5vw);
      font-style: italic;
      font-weight: 600;
      margin: auto;
      padding: calc(0.5rem + 0.25vw);
      text-align: center;
      width: max-content;
      @media (max-width: 767.98px) {
        display: none;
      }
    }
  }
  & .landing-page-col-right {
    padding: calc(0.5rem + 0.5vw);
    @media (max-width: 767.98px) {
      & .contact-form-wrapper {
        display: none;
      }
    }
    @media (max-height: 700px) {
      & .contact-form-wrapper {
        display: none;
      }
    }
  }
  @media (max-width: 767.98px) {
    height: calc(100vh - #{$navbar-spacer-height-mobile} - #{$landing-page-footer-height-mobile});
  }
}

// Landing Page Footer
.landing-page-footer {
  align-items: center;
  background-color: $quinary-color-rgba;
  color: $primary-color;
  display: flex;
  flex-direction: row;
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  justify-content: center;
  height: $landing-page-footer-height-desktop;
  margin: 0;
  text-align: center;
  width: 100%;
  & .landing-page-caption-footer {
    display: none;
    @media (max-width: 767.98px) {
      display: block;
      font-size: calc(1rem + 0.25vw);
    }
  }
  & .landing-page-footer-wrapper {
    align-items: center;
    display: flex;
    margin: 0 calc(2rem + 1vw);
    & .icon-hours-of-operation {
      fill: none;
      stroke: $primary-color;
      stroke-width: calc(0.25rem + 0.1vw);
      height: calc(1rem + 1vw);
      margin: 0 calc(0.25rem + 0.1vw);
      width: calc(1rem + 1vw);
    }
    & .icon-phone {
      height: calc(1rem + 1vw);
      fill: $primary-color;
      margin: 0 calc(0.25rem + 0.1vw);
      width: calc(1rem + 1vw);
    }
  }
  @media (max-width: 767.98px) {
    font-size: calc(0.75rem + 0.5vw);   
    height: $landing-page-footer-height-mobile;
    & .landing-page-footer-phone {
      display: none;
    }
  }
}

// Section 1, Services
$card-transition: 0.15s ease-in;
%card-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  transition: $card-transition;
  width: 100%;
}

.section-1-copy-header {
  background-color: $primary-color;
  color: $quinary-color;
  margin-bottom: 0;
  text-align: center;
}

.section-1-copy {
  background-color: $primary-color;
  color: $quinary-color;
  font-size: calc(1rem + 0.5vw);
  padding: 0 calc(2rem + 2vw) calc(2rem + 2vw) calc(2rem + 2vw);
  & .section-1-copy-image {
    margin-bottom: calc(1rem + 1vw);
  }
  & p {
    padding: 0 calc(1rem + 1vw);
  }
  & a {
    color: $tertiary-color;
    &:hover {
      color: $quarternary-color;
      text-decoration: none;
    }
  }
}

.section-1-row {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: calc(2rem + 2vw);
  width: 100%;
  & .card {
    background-color: white;
    cursor: pointer;
    margin: calc(1rem + 1vw);
    text-align: center;
    width: 25vw;
    a {
      color: $quinary-color;
      text-decoration: none !important;
    }
    & .card-img-top {
      height: 20vh;
      overflow: hidden;
      width: 100%;
      & .img-house-washing {
        @extend %card-img;
      }
      & .img-deck-and-patio-washing {
        @extend %card-img;
      }
      & .img-deck-staining {
        @extend %card-img;
      }
      & .img-concrete-and-brick-washing {
        @extend %card-img;
      }
      & .img-fence-cleaning {
        @extend %card-img;
      }
      & .img-graffiti-removal {
        @extend %card-img;
      }
      @media (max-width: 767.98px) {
        height: 30vh;
      }
    }
    & .card-body {
      & .card-title {
        display: inline-block;
        font-size: calc(1rem + 0.5vw);
        position: relative;
        transition: $card-transition;
      }
      & .card-text {
        align-items: center;
        display: flex;
        justify-content: center;
        transition: $card-transition;
        & .icon-arrow-right {
          height: calc(0.5rem + 0.5vw);
          margin: 0 calc(0.25rem + 0.1vw);
          width: calc(0.5rem + 0.5vw);
          & circle {
            fill: white;
            transition: $card-transition;
          }
          & line {
            stroke: $quinary-color;
            stroke-width: calc(0.5rem + 0.25vw);
            transition: $card-transition;
          }
        }
      }
    }
    &:hover {
      text-decoration: none;
      & .card-img-zoom {
      transform: scale(1.1);
      transition: $card-transition;
      }
      & .card-title,
      & .card-text {
        color: $tertiary-color;
        transition: $card-transition;
      }
      & .card-text .icon-arrow-right {
        & circle {
          fill: $tertiary-color;
          transition: $card-transition;
        }
        & line {
          stroke: $primary-color;
          transition: $card-transition;
        }
      }
    }
    @media (max-width: 767.98px) {
      width: 80vw;
    }
  }
}