.landing-page-background {
  background-color: $quinary-color;
  background-image: 
    linear-gradient(
      rgba(2, 3, 5, 0.25),
      rgba(2, 3, 5, 0.25),
    ),
    url('/static/img/house-01.jpg');
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.landing-page-row {
  height: calc(100vh - 142px - 60px); // navbar + nav footer height
  & .landing-page-col-left {
    padding: calc(1rem + 1vw);
    & .landing-page-caption {
      color: $primary-color;
      font-size: calc(1rem + 0.5vw);
      font-style: italic;
      font-weight: 600;
      padding: calc(1rem + 1vw);
    }
  }
  & .landing-page-col-right {
    padding: calc(1rem + 1vw);
  }
}

.landing-page-footer {
  align-items: center;
  background-color: $quinary-color-rgba;
  color: $primary-color;
  display: flex;
  flex-direction: row;
  font-size: calc(1rem + 0.5vw);
  font-style: italic;
  justify-content: center;
  height: 60px;
  margin: 0;
  text-align: center;
  width: 100%;
  & .landing-page-footer-wrapper {
    margin: 0 calc(2rem + 1vw);
    & .icon-hours-of-operation {
      fill: none;
      stroke: $primary-color;
      stroke-width: 6px;
      height: 2rem;
      margin: 0 calc(1rem + 0.25vw);
      width: 2rem;
    }
    & .icon-phone {
      height: 2rem;
      fill: $primary-color;
      margin: 0 calc(1rem + 0.25vw);
      width: 2rem;
    }
  }
}

$card-transition: 0.15s ease-in;
%card-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  transition: $card-transition;
  width: 100%;
}

.section-1-row {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  padding: calc(2rem + 2vw);
  width: 100%;
  & .card {
    background-color: white;
    color: $quinary-color;
    cursor: pointer;
    margin: calc(1rem + 1vw);
    text-align: center;
    width: 25vw;
    & .card-img-top {
      height: 20vh;
      overflow: hidden;
      width: 100%;
      & .card-img-house-washing {
        background-image: url('/static/img/house-02.jpg');
        @extend %card-img;
      }
      & .card-img-deck-and-patio-washing {
        background-image: url('/static/img/deck-washing-01.jpg');
        @extend %card-img;
      }
      & .card-img-deck-staining {
        background-image: url('/static/img/deck-staining-01.jpg');
        @extend %card-img;
      }
      & .card-img-concrete-and-brick-washing {
        background-image: url('/static/img/brick-washing-01.jpg');
        @extend %card-img;
      }
      & .card-img-fence-cleaning {
        background-image: url('/static/img/wooden-fence-01.jpg');
        @extend %card-img;
      }
      & .card-img-graffiti-removal {
        background-image: url('/static/img/graffiti-02.jpg');
        @extend %card-img;
      }
    }
    & .card-body {
      & .card-title {
        display: inline-block;
        font-size: calc(1rem + 0.5vw);
        position: relative;
        transition: $card-transition;
      }
      & .card-text {
        align-items: center;
        display: flex;
        justify-content: center;
        transition: $card-transition;
        & .icon-arrow-right {
          height: calc(0.5rem + 0.5vw);
          margin: 0 calc(0.25rem + 0.1vw);
          width: calc(0.5rem + 0.5vw);
          & circle {
            fill: white;
            transition: $card-transition;
          }
          & line {
            stroke: $quinary-color;
            stroke-width: calc(0.5rem + 0.25vw);
            transition: $card-transition;
          }
        }
      }
    }
    & [class^="col-"],
    & [class*="col-"] {
      padding: 0 calc(0.5rem + 0.5vw);
    }
    &:hover {
      text-decoration: none;
      & .card-img-zoom {
      background-position: center;
      transform: scale(1.1);
      transition: $card-transition;
      }
      & .card-title,
      & .card-text {
        color: $tertiary-color;
        transition: $card-transition;
      }
      & .card-text .icon-arrow-right {
        & circle {
          fill: $tertiary-color;
          transition: $card-transition;
        }
        & line {
          stroke: $primary-color;
          transition: $card-transition;
        }
      }
    }
  }
}