$nav-transition: 0.2s;
$nav-logo-transition: 0.5s;

.navbar {
  background-color: $quinary-color-rgba;
  padding-left: calc(1rem + 1vw);
  padding-right: calc(1rem + 1vw);
  position: fixed;
  width: 100%;
  z-index: 1;
  & .nav-item {
    position: relative;
    & .nav-link {
      color: $primary-color;
      font-size: calc(1rem + 0.25vw);
      &::before {
        background-color: $primary-color;
        content: '';
        bottom: 0;
        height: calc(0.1rem + 0.1vw);
        left: 0;
        position: absolute;
        transition: $nav-transition;
        width: 0;
      }
    }
    &:hover {
      & .nav-link::before {
        transition: $nav-transition;
        width: 100%;
      }
    }
  }
  & .navbar-brand {
    fill: $primary-color;
    & .nav-logo-text {
      height: calc(1.75rem + 1.75vw);
      padding: calc(0.1rem + 0.1vw);
      transition: $nav-logo-transition;
      &.minimized {
        height: calc(1rem + 1vw);
      }
    }
    & .nav-logo-wand-subtext,
    & .nav-logo-wand-subtext-wrapper {
      height: calc(1.85rem + 1.85vw);
      padding: calc(0.1rem + 0.1vw);
      transition: $nav-logo-transition;
      &.minimized {
        height: 0;
        transition: $nav-logo-transition;
      }
    }
  }
  & .navbar-toggler {
    & .nav-hamburger-icon {
      stroke: $primary-color;
      stroke-width: 6px;
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  &.solid-background {
    background-color: $quinary-color;
  }
}