$nav-transition: 0.2s;
$nav-logo-transition: 0.25s;

.navbar {
  background-color: $quinary-color-rgba;
  padding-left: calc(1rem + 1vw);
  padding-right: calc(1rem + 1vw);
  position: fixed;
  width: 100%;
  z-index: 3;
  & .navbar-nav {
    & .nav-item {
      cursor: pointer;
      position: relative;
      & .nav-link {
        color: $primary-color;
        font-size: calc(0.75rem + 0.75vw);
        &::before {
          background-color: $primary-color;
          content: '';
          bottom: 0;
          height: calc(0.1rem + 0.1vw);
          left: 0;
          position: absolute;
          transition: $nav-transition;
          width: 0;
        }
      }
      &:hover {
        & .nav-link::before {
          transition: $nav-transition;
          width: 100%;
        }
      }
    }
    @media (max-width: 767.98px) {
      & .nav-item {
        text-align: center;
        & .nav-link {
          font-size: calc(1.25rem + 0.5vw);
        }
        &:hover .nav-link::before {
          width: 0%;
        }
      }
    }
  }
  & .navbar-brand {
    fill: $primary-color;
    & .nav-logo-text {
      height: calc(1.25rem + 1.25vw);
      padding: calc(0.1rem + 0.1vw);
      transition: $nav-logo-transition;
      &.minimized {
        height: calc(1rem + 1vw);
      }
    }
    & .nav-logo-wand-subtext,
    & .nav-logo-wand-subtext-wrapper {
      height: calc(1.45rem + 1.45vw);
      padding: calc(0.1rem + 0.1vw);
      transition: $nav-logo-transition;
      &.minimized {
        height: 0;
        transition: $nav-logo-transition;
      }
    }
    @media (max-width: 767.98px) {
      & .nav-logo-text {
        height: calc(1.5rem + 1vw);
      }
      & .nav-logo-wand-subtext,
      & .nav-logo-wand-subtext-wrapper {
        display: none;
      }
    }
  }
  & .navbar-toggler {
    & .nav-hamburger-icon {
      stroke: $primary-color;
      stroke-width: 6px;
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  &.solid-background {
    background-color: $quinary-color;
  }
  @media (max-width: 767.98px) {
    background-color: $quinary-color;
  }
}

.nav-call-now {
  display: none;
  @media (max-width: 767.98px) {
    display: block;
    position: relative;
    & .nav-call-now-button {
      align-items: center;
      background-color: $quinary-color;
      border: none;
      border-radius: 10px;
      color: $primary-color;
      display: flex;
      font-style: italic;
      height: 3rem;
      left: 5vw;
      padding: 0 calc(0.5rem + 0.5vw);
      position: fixed;
      z-index: 2;
      &:focus {
        background-color: $tertiary-color;
        box-shadow: none;
        outline: none;
      }
    }
  }
  @media (min-height: 400px) {
    & .nav-call-now-button {
      font-size: calc(1rem + 1vw);
      height: 3rem;
      top: $call-now-free-quote-buttons-top-offset;
    }
    & .icon-phone {
      height: 2rem;
      fill: $primary-color;
      margin-right: calc(0.5rem + 0.25vw);
      width: 2rem;
    }
  }
  @media (max-height: 399.98px) {
    & .nav-call-now-button {
      font-size: calc(0.5rem 0.25vw);
      height: 2.5rem;
      top: 20vh;
    }
    & .icon-phone {
      height: 1rem;
      fill: $primary-color;
      margin-right: calc(0.5rem + 0.25vw);
      width: 1rem;
    }
  }
}

.nav-free-quote {
  display: none;
  @media (max-width: 767.98px){
    position: relative;
    & .nav-free-quote-button {
      align-items: center;
      background-color: $quinary-color;
      border: none;
      border-radius: 10px;
      color: $primary-color;
      display: flex;
      font-style: italic;
      padding: 0 calc(0.5rem + 0.5vw);
      position: fixed;
      right: 5vw;
      z-index: 2;
      &:focus {
        background-color: $tertiary-color;
        box-shadow: none;
        outline: none;
      }
    }
  }
  @media (min-height: 400px) {
    & .nav-free-quote-button {
      font-size: calc(1rem + 1vw);
      height: 3rem;
      top: $call-now-free-quote-buttons-top-offset;
    }
  }
  @media (max-height: 399.98px) {
    & .nav-free-quote-button {
      font-size: calc(0.5rem 0.25vw);
      height: 2.5rem;
      top: 20vh;
    }
  }
}