@import 'colors';
@import 'navbar';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  scroll-behavior: smooth;
}

// This spacer is supposed to accommodate for the space beneath the
// navbar
.navbar-spacer {
  width: 100%;
}