$landing-page-footer-height-desktop: 60px;
$landing-page-footer-height-mobile: 100px;
$navbar-spacer-height-desktop: 133px;
$navbar-spacer-height-mobile: 58px;
$call-now-free-quote-buttons-top-offset: 12vh;

@import 'colors';
@import 'navbar';
@import 'index';
@import 'services';
@import 'our-work';
@import 'contact';
@import 'faq';
@import 'footer';

* {
  margin: 20;
  padding: 0;
}

body {
  background-color: $primary-color;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  scroll-behavior: smooth;
}

// This spacer is supposed to accommodate for the space beneath the
// navbar
.navbar-spacer {
  height: $navbar-spacer-height-desktop;
  width: 100%;
  @media (max-width: 767.98px) {
    height: $navbar-spacer-height-mobile;
  }
}

// No gutters
.row {
  margin-left: 0;
  margin-right: 0;
}

[class^="col-"],
[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}