.navbar {
  background-color: rgba(12, 19, 45, 0.75);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar .nav-item {
  position: relative;
}

.navbar .nav-item .nav-link {
  color: #EEEEEE;
  font-size: calc(1rem + 0.25vw);
}

.navbar .nav-item .nav-link::before {
  background-color: #EEEEEE;
  content: '';
  bottom: 0;
  height: calc(0.1rem + 0.1vw);
  left: 0;
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 0;
}

.navbar .nav-item:hover .nav-link::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
}

.navbar .nav-logo {
  fill: #EEEEEE;
  height: calc(3.9rem + 3.9vw);
  width: calc(15rem + 15vw);
}

.navbar .navbar-toggler .nav-hamburger-icon {
  stroke: #EEEEEE;
  stroke-width: 6px;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.landing-page-background {
  background-color: #0C132D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 3, 5, 0.25)), to(rgba(2, 3, 5, 0.25))), url("/static/img/house-01.jpg");
  background-image: linear-gradient(rgba(2, 3, 5, 0.25), rgba(2, 3, 5, 0.25)), url("/static/img/house-01.jpg");
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.landing-page-row {
  height: calc(100vh - 142px - 60px);
}

.landing-page-row .landing-page-col-left {
  padding: calc(1rem + 1vw);
}

.landing-page-row .landing-page-col-left .landing-page-caption {
  color: #EEEEEE;
  font-size: calc(1rem + 0.5vw);
  font-style: italic;
  font-weight: 600;
  padding: calc(1rem + 1vw);
}

.landing-page-row .landing-page-col-right {
  padding: calc(1rem + 1vw);
}

.landing-page-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(12, 19, 45, 0.75);
  color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: calc(1rem + 0.5vw);
  font-style: italic;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.landing-page-footer .landing-page-footer-wrapper {
  margin: 0 calc(2rem + 1vw);
}

.landing-page-footer .landing-page-footer-wrapper .icon-hours-of-operation {
  fill: none;
  stroke: #EEEEEE;
  stroke-width: 6px;
  height: 2rem;
  margin: 0 calc(1rem + 0.25vw);
  width: 2rem;
}

.landing-page-footer .landing-page-footer-wrapper .icon-phone {
  height: 2rem;
  fill: #EEEEEE;
  margin: 0 calc(1rem + 0.25vw);
  width: 2rem;
}

.section-1-row .card .card-img-top .card-img-house-washing, .section-1-row .card .card-img-top .card-img-deck-and-patio-washing, .section-1-row .card .card-img-top .card-img-deck-staining, .section-1-row .card .card-img-top .card-img-concrete-and-brick-washing, .section-1-row .card .card-img-top .card-img-fence-cleaning, .section-1-row .card .card-img-top .card-img-graffiti-removal {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
  width: 100%;
}

.section-1-row {
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: calc(2rem + 2vw);
  width: 100%;
}

.section-1-row .card {
  background-color: white;
  cursor: pointer;
  margin: calc(1rem + 1vw);
  text-align: center;
  width: 25vw;
}

.section-1-row .card a {
  color: #0C132D;
  text-decoration: none !important;
}

.section-1-row .card .card-img-top {
  height: 20vh;
  overflow: hidden;
  width: 100%;
}

.section-1-row .card .card-img-top .card-img-house-washing {
  background-image: url("/static/img/house-02.jpg");
}

.section-1-row .card .card-img-top .card-img-deck-and-patio-washing {
  background-image: url("/static/img/deck-washing-01.jpg");
}

.section-1-row .card .card-img-top .card-img-deck-staining {
  background-image: url("/static/img/deck-staining-01.jpg");
}

.section-1-row .card .card-img-top .card-img-concrete-and-brick-washing {
  background-image: url("/static/img/brick-washing-01.jpg");
}

.section-1-row .card .card-img-top .card-img-fence-cleaning {
  background-image: url("/static/img/wooden-fence-01.jpg");
}

.section-1-row .card .card-img-top .card-img-graffiti-removal {
  background-image: url("/static/img/graffiti-02.jpg");
}

.section-1-row .card .card-body .card-title {
  display: inline-block;
  font-size: calc(1rem + 0.5vw);
  position: relative;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card .card-body .card-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card .card-body .card-text .icon-arrow-right {
  height: calc(0.5rem + 0.5vw);
  margin: 0 calc(0.25rem + 0.1vw);
  width: calc(0.5rem + 0.5vw);
}

.section-1-row .card .card-body .card-text .icon-arrow-right circle {
  fill: white;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card .card-body .card-text .icon-arrow-right line {
  stroke: #0C132D;
  stroke-width: calc(0.5rem + 0.25vw);
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card [class^="col-"],
.section-1-row .card [class*="col-"] {
  padding: 0 calc(0.5rem + 0.5vw);
}

.section-1-row .card:hover {
  text-decoration: none;
}

.section-1-row .card:hover .card-img-zoom {
  background-position: center;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card:hover .card-title,
.section-1-row .card:hover .card-text {
  color: #00AEEF;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card:hover .card-text .icon-arrow-right circle {
  fill: #00AEEF;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card:hover .card-text .icon-arrow-right line {
  stroke: #EEEEEE;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

footer {
  background-color: rgba(12, 19, 45, 0.75);
  padding-bottom: calc(2rem + 2vw);
  color: #EEEEEE;
  text-align: center;
}

footer .footer-back-to-top .icon-back-to-top {
  height: calc(2rem);
  fill: #EEEEEE;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  width: calc(2rem);
}

footer .footer-back-to-top .icon-back-to-top:hover {
  cursor: pointer;
  fill: #00AEEF;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

footer .footer-contact {
  padding: calc(2rem + 1vw);
}

footer .footer-contact .logo-rcpw {
  height: calc(8rem + 8vw);
  width: calc(8rem + 8vw);
  margin: calc(1rem + 1vw);
}

footer .footer-contact .footer-contact-phone {
  font-size: calc(1rem + 0.75vw);
  font-style: italic;
}

footer .footer-contact .footer-contact-phone .icon-phone {
  height: calc(1rem + 1vw);
  fill: #EEEEEE;
  width: calc(1rem + 1vw);
}

footer .footer-contact .footer-contact-text {
  font-size: calc(1rem + 0.25vw);
  padding: calc(0.5rem + 0.5vw);
}

footer .footer-copyright {
  font-size: calc(0.5rem + 0.5vw);
  padding: calc(0.5rem + 0.5vw);
}

footer .footer-flair {
  padding: calc(2rem + 1vw);
}

footer .footer-flair .logo-facebook {
  padding: calc(0.5rem + 0.5vw);
  width: 20vw;
}

footer .footer-flair .logo-google {
  padding: calc(0.5rem + 0.5vw);
  width: 20vw;
}

footer .footer-flair .logo-pittsburgh-penguins {
  padding: calc(0.5rem + 0.5vw);
  width: 20vw;
}

footer .footer-map {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: calc(2rem + 1vw);
}

footer .footer-map .footer-map-iframe {
  height: 100%;
  width: 100%;
}

footer .footer-map .footer-map-text {
  font-size: calc(0.5rem + 0.35vw);
  padding: calc(0.5rem + 0.5vw);
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.navbar-spacer {
  height: 142px;
  width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

[class^="col-"],
[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
/*# sourceMappingURL=base.css.map */