.navbar {
  background-color: rgba(0, 11, 41, 0.75);
  padding-left: calc(1rem + 1vw);
  padding-right: calc(1rem + 1vw);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar .navbar-nav .nav-item {
  position: relative;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #EFF4F8;
  font-size: calc(0.75rem + 0.75vw);
}

.navbar .navbar-nav .nav-item .nav-link::before {
  background-color: #EFF4F8;
  content: '';
  bottom: 0;
  height: calc(0.1rem + 0.1vw);
  left: 0;
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 0;
}

.navbar .navbar-nav .nav-item:hover .nav-link::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
}

@media (max-width: 767.98px) {
  .navbar .navbar-nav .nav-item {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: calc(1.25rem + 0.5vw);
  }
  .navbar .navbar-nav .nav-item:hover .nav-link::before {
    width: 0%;
  }
}

.navbar .navbar-brand {
  fill: #EFF4F8;
}

.navbar .navbar-brand .nav-logo-text {
  height: calc(1.25rem + 1.25vw);
  padding: calc(0.1rem + 0.1vw);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navbar .navbar-brand .nav-logo-text.minimized {
  height: calc(1rem + 1vw);
}

.navbar .navbar-brand .nav-logo-wand-subtext,
.navbar .navbar-brand .nav-logo-wand-subtext-wrapper {
  height: calc(1.45rem + 1.45vw);
  padding: calc(0.1rem + 0.1vw);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navbar .navbar-brand .nav-logo-wand-subtext.minimized,
.navbar .navbar-brand .nav-logo-wand-subtext-wrapper.minimized {
  height: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 767.98px) {
  .navbar .navbar-brand .nav-logo-text {
    height: calc(1.5rem + 1vw);
  }
  .navbar .navbar-brand .nav-logo-wand-subtext,
  .navbar .navbar-brand .nav-logo-wand-subtext-wrapper {
    display: none;
  }
}

.navbar .navbar-toggler .nav-hamburger-icon {
  stroke: #EFF4F8;
  stroke-width: 6px;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.navbar.solid-background {
  background-color: #000B28;
}

@media (max-width: 767.98px) {
  .navbar {
    background-color: #000B28;
  }
}

.nav-call-now {
  display: none;
}

@media (max-width: 767.98px) {
  .nav-call-now {
    display: block;
    position: relative;
  }
  .nav-call-now .nav-call-now-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000B28;
    border: none;
    border-radius: 10px;
    color: #EFF4F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: calc(1rem + 1vw);
    font-style: italic;
    height: 3rem;
    left: 5vw;
    padding: 0 calc(0.5rem + 0.5vw);
    position: fixed;
    top: 12vh;
    z-index: 2;
  }
  .nav-call-now .nav-call-now-button .icon-phone {
    height: 2rem;
    fill: #EFF4F8;
    margin-right: calc(0.5rem + 0.25vw);
    width: 2rem;
  }
  .nav-call-now .nav-call-now-button:focus {
    background-color: #00AEEF;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
  }
}

.nav-free-quote {
  display: none;
}

@media (max-width: 767.98px) {
  .nav-free-quote {
    position: relative;
  }
  .nav-free-quote .nav-free-quote-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000B28;
    border: none;
    border-radius: 10px;
    color: #EFF4F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: calc(1rem + 1vw);
    font-style: italic;
    height: 3rem;
    right: 5vw;
    padding: 0 calc(0.5rem + 0.5vw);
    position: fixed;
    top: 12vh;
    z-index: 2;
  }
  .nav-free-quote .nav-free-quote-button:focus {
    background-color: #00AEEF;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
  }
}

.landing-page-row {
  height: calc(100vh - 133px - 60px);
}

.landing-page-row .landing-page-col-left {
  padding: calc(0.5rem + 0.5vw);
}

.landing-page-row .landing-page-col-left .landing-page-caption {
  background-color: rgba(0, 11, 41, 0.75);
  border-radius: calc(0.5rem + 0.5vw);
  color: #EFF4F8;
  font-size: calc(0.5rem + 0.5vw);
  font-style: italic;
  font-weight: 600;
  margin: auto;
  padding: calc(0.5rem + 0.25vw);
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 767.98px) {
  .landing-page-row .landing-page-col-left .landing-page-caption {
    display: none;
  }
}

.landing-page-row .landing-page-col-right {
  padding: calc(0.5rem + 0.5vw);
}

@media (max-width: 767.98px) {
  .landing-page-row .landing-page-col-right .contact-form-wrapper {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .landing-page-row {
    height: calc(100vh - 58px - 100px);
  }
}

.landing-page-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 11, 41, 0.75);
  color: #EFF4F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.landing-page-footer .landing-page-caption-footer {
  display: none;
}

@media (max-width: 767.98px) {
  .landing-page-footer .landing-page-caption-footer {
    display: block;
  }
}

.landing-page-footer .landing-page-footer-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 calc(2rem + 1vw);
}

.landing-page-footer .landing-page-footer-wrapper .icon-hours-of-operation {
  fill: none;
  stroke: #EFF4F8;
  stroke-width: calc(0.25rem + 0.1vw);
  height: calc(1rem + 1vw);
  margin: 0 calc(0.25rem + 0.1vw);
  width: calc(1rem + 1vw);
}

.landing-page-footer .landing-page-footer-wrapper .icon-phone {
  height: calc(1rem + 1vw);
  fill: #EFF4F8;
  margin: 0 calc(0.25rem + 0.1vw);
  width: calc(1rem + 1vw);
}

@media (max-width: 767.98px) {
  .landing-page-footer {
    font-size: calc(0.75rem + 0.5vw);
    height: 100px;
  }
  .landing-page-footer .landing-page-footer-phone {
    display: none;
  }
}

.section-1-row .card .card-img-top .img-house-washing, .section-1-row .card .card-img-top .img-deck-and-patio-washing, .section-1-row .card .card-img-top .img-deck-staining, .section-1-row .card .card-img-top .img-concrete-and-brick-washing, .section-1-row .card .card-img-top .img-fence-cleaning, .section-1-row .card .card-img-top .img-graffiti-removal {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
  width: 100%;
}

.section-1-row {
  background-color: #EFF4F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: calc(2rem + 2vw);
  width: 100%;
}

.section-1-row .card {
  background-color: white;
  cursor: pointer;
  margin: calc(1rem + 1vw);
  text-align: center;
  width: 25vw;
}

.section-1-row .card a {
  color: #000B28;
  text-decoration: none !important;
}

.section-1-row .card .card-img-top {
  height: 20vh;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 767.98px) {
  .section-1-row .card .card-img-top {
    height: 30vh;
  }
}

.section-1-row .card .card-body .card-title {
  display: inline-block;
  font-size: calc(1rem + 0.5vw);
  position: relative;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card .card-body .card-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card .card-body .card-text .icon-arrow-right {
  height: calc(0.5rem + 0.5vw);
  margin: 0 calc(0.25rem + 0.1vw);
  width: calc(0.5rem + 0.5vw);
}

.section-1-row .card .card-body .card-text .icon-arrow-right circle {
  fill: white;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card .card-body .card-text .icon-arrow-right line {
  stroke: #000B28;
  stroke-width: calc(0.5rem + 0.25vw);
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card:hover {
  text-decoration: none;
}

.section-1-row .card:hover .card-img-zoom {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card:hover .card-title,
.section-1-row .card:hover .card-text {
  color: #00AEEF;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card:hover .card-text .icon-arrow-right circle {
  fill: #00AEEF;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.section-1-row .card:hover .card-text .icon-arrow-right line {
  stroke: #EFF4F8;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

@media (max-width: 767.98px) {
  .section-1-row .card {
    width: 80vw;
  }
}

.service-wrapper {
  background-color: #EFF4F8;
}

@media (max-width: 767.98px) {
  .service-wrapper .beginning-of-page-spacer-mobile {
    padding-top: calc(12vh + 2rem);
  }
}

.service-wrapper .navbar-spacer {
  background-color: #EFF4F8;
}

.service-wrapper .service-header {
  color: #000B28;
  text-align: center;
}

@media (min-width: 768px) {
  .service-wrapper .service-header {
    margin: calc(1rem + 1vw) 0;
  }
}

.service-wrapper .service-row {
  padding: calc(1rem + 1vw);
}

.service-wrapper .service-row .service-col-image {
  padding: calc(1rem + 1vw);
}

.service-wrapper .service-row .service-col-image .service-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: calc(1rem + 1vw);
  height: 30vh;
  margin: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .service-wrapper .service-row .service-col-image .service-image {
    height: 100%;
  }
}

.service-wrapper .service-row .service-col-text {
  color: #000B28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(1.25rem + 0.5vw);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: calc(1rem + 1vw);
}

.service-wrapper .service-row .service-col-text .nav-logo-text {
  fill: #000B28;
  height: calc(1.25rem + 0.5vw);
  position: relative;
  bottom: calc(0.1rem + 0.05vw);
}

.service-wrapper .service-row .service-col-text .phone-number {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  padding: calc(0.5rem + 0.5vw);
}

.service-wrapper .service-row .service-col-text .phone-number .icon-phone {
  fill: #000B28;
  height: calc(1rem + 1vw);
  margin-right: calc(0.25rem + 0.1vw);
  width: calc(1rem + 1vw);
}

@media (max-width: 767.98px) {
  .service-wrapper .service-row .service-col-text .phone-number {
    font-size: calc(1rem + 0.25vw);
  }
}

.service-wrapper .service-row .service-col-text .hours-of-operation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  padding: calc(0.5rem + 0.5vw);
}

.service-wrapper .service-row .service-col-text .hours-of-operation .icon-hours-of-operation {
  fill: none;
  stroke: #000B28;
  stroke-width: calc(0.25rem + 0.25vw);
  height: calc(1rem + 1vw);
  margin-right: calc(0.25rem + 0.1vw);
  width: calc(1rem + 1vw);
}

@media (max-width: 767.98px) {
  .service-wrapper .service-row .service-col-text .hours-of-operation {
    font-size: calc(0.75rem + 0.25vw);
  }
}

.service-wrapper .service-row .service-col-text.centered {
  text-align: center;
}

.service-wrapper .service-row .service-col-contact-form {
  padding: calc(1rem + 1vw);
}

.our-work-page-background {
  background-color: #000B28;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 3, 5, 0.35)), to(rgba(2, 3, 5, 0.35))), url("/static/img/house-01.jpg");
  background-image: linear-gradient(rgba(2, 3, 5, 0.35), rgba(2, 3, 5, 0.35)), url("/static/img/house-01.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.our-work-wrapper {
  background-color: #EFF4F8;
}

@media (max-width: 767.98px) {
  .our-work-wrapper .beginning-of-page-spacer-mobile {
    padding-top: calc(12vh + 2rem);
  }
}

.our-work-wrapper .navbar-spacer {
  background-color: #EFF4F8;
}

.our-work-wrapper .our-work-header {
  color: #000B28;
  text-align: center;
}

@media (min-width: 768px) {
  .our-work-wrapper .our-work-header {
    margin: calc(1rem + 1vw) 0;
  }
}

.our-work-wrapper .our-work-subsection-heading {
  color: #000B28;
  font-size: calc(1.25rem + 0.5vw);
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.our-work-wrapper .our-work-row {
  background-color: #EFF4F8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: calc(1rem + 1vw);
}

.our-work-wrapper .our-work-row .our-work-baap-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: calc(1rem + 1vw) 0;
}

.our-work-wrapper .our-work-row .our-work-baap-group .our-work-baap-group-before {
  border: calc(0.15rem + 0.15vw) solid #000B28;
  margin-right: calc(0.25rem + 0.25vw);
  position: relative;
}

.our-work-wrapper .our-work-row .our-work-baap-group .our-work-baap-group-before::after {
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.our-work-wrapper .our-work-row .our-work-baap-group .our-work-baap-group-before::before {
  background-color: #000B28;
  color: #EFF4F8;
  content: "BEFORE";
  font-size: calc(0.5rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  left: calc(0.25rem + 0.25vw);
  padding: 0 calc(0.1rem + 0.1vw);
  position: absolute;
  top: calc(0.25rem + 0.25vw);
  z-index: 1;
}

.our-work-wrapper .our-work-row .our-work-baap-group .our-work-baap-group-after {
  border: calc(0.15rem + 0.15vw) solid #000B28;
  position: relative;
}

.our-work-wrapper .our-work-row .our-work-baap-group .our-work-baap-group-after::after {
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.our-work-wrapper .our-work-row .our-work-baap-group .our-work-baap-group-after::before {
  background-color: #000B28;
  color: #EFF4F8;
  content: "AFTER";
  font-size: calc(0.5rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  left: calc(0.25rem + 0.25vw);
  padding: 0 calc(0.1rem + 0.1vw);
  position: absolute;
  top: calc(0.25rem + 0.25vw);
  z-index: 1;
}

.our-work-wrapper .our-work-row .our-work-baap-group img {
  border: none;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20vw;
}

@media (max-width: 767.98px) {
  .our-work-wrapper .our-work-row .our-work-baap-group img {
    height: 20vh;
    width: 40vw;
  }
}

.our-work-wrapper .our-work-row .our-work-baap-group:hover {
  cursor: pointer;
}

.our-work-wrapper .our-work-row .our-work-baap-group:hover .our-work-baap-group-after::after,
.our-work-wrapper .our-work-row .our-work-baap-group:hover .our-work-baap-group-before::after {
  height: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background-color: rgba(0, 11, 41, 0.5);
}

.our-work-wrapper .our-work-row .our-work-single-image-wrapper {
  border: calc(0.15rem + 0.15vw) solid #000B28;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: calc(1rem + 1vw) 0;
}

.our-work-wrapper .our-work-row .our-work-single-image-wrapper img {
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20vw;
}

@media (max-width: 767.98px) {
  .our-work-wrapper .our-work-row .our-work-single-image-wrapper img {
    height: 20vh;
    width: 40vw;
  }
}

.our-work-wrapper .our-work-row .our-work-single-image-wrapper::after {
  content: '';
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

.our-work-wrapper .our-work-row .our-work-single-image-wrapper:hover {
  cursor: pointer;
}

.our-work-wrapper .our-work-row .our-work-single-image-wrapper:hover::after {
  height: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background-color: rgba(0, 11, 41, 0.5);
}

.our-work-wrapper .modal .modal-dialog {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}

.our-work-wrapper .modal .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .our-work-wrapper .modal .modal-body {
    display: block;
  }
}

.our-work-wrapper .modal .modal-baap-group-before {
  border: calc(0.15rem + 0.15vw) solid #000B28;
  margin-right: calc(0.25rem + 0.25vw);
  position: relative;
  width: 100%;
}

.our-work-wrapper .modal .modal-baap-group-before::before {
  background-color: #000B28;
  color: #EFF4F8;
  content: "BEFORE";
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  left: calc(0.25rem + 0.25vw);
  padding: 0 calc(0.5rem + 0.1vw);
  position: absolute;
  top: calc(0.25rem + 0.25vw);
}

@media (max-width: 767.98px) {
  .our-work-wrapper .modal .modal-baap-group-before::before {
    font-size: calc(0.5rem + 0.1vw);
  }
}

@media (max-width: 767.98px) {
  .our-work-wrapper .modal .modal-baap-group-before {
    margin-bottom: calc(0.25rem + 0.25vw);
    margin-right: 0;
  }
}

.our-work-wrapper .modal .modal-baap-group-after {
  border: calc(0.15rem + 0.15vw) solid #000B28;
  position: relative;
}

.our-work-wrapper .modal .modal-baap-group-after::before {
  background-color: #000B28;
  color: #EFF4F8;
  content: "AFTER";
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  left: calc(0.25rem + 0.25vw);
  padding: 0 calc(0.5rem + 0.1vw);
  position: absolute;
  top: calc(0.25rem + 0.25vw);
}

@media (max-width: 767.98px) {
  .our-work-wrapper .modal .modal-baap-group-after::before {
    font-size: calc(0.5rem + 0.1vw);
  }
}

.our-work-wrapper .modal .modal-single-image {
  border: calc(0.15rem + 0.15vw) solid #000B28;
  width: 100%;
}

.our-work-wrapper .modal .modal-content {
  border: 0;
}

.our-work-wrapper .modal .modal-header {
  background-color: #000B28;
}

.our-work-wrapper .modal .modal-title {
  color: #EFF4F8;
  font-family: 'Stencil', 'Segoe UI', sans-serif;
  font-size: calc(1rem + 0.5vw);
}

.our-work-wrapper .modal img {
  height: 100%;
  width: 45vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .our-work-wrapper .modal img {
    height: 100%;
    width: 75vw;
  }
}

.our-work-wrapper .modal .close {
  color: #EFF4F8;
}

.our-work-wrapper .modal .close:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-wrapper {
  background-color: #EFF4F8;
}

@media (max-width: 767.98px) {
  .contact-wrapper .beginning-of-page-spacer-mobile {
    padding-top: calc(12vh + 2rem);
  }
}

.contact-wrapper .navbar-spacer {
  background-color: #EFF4F8;
}

.contact-wrapper .contact-header {
  color: #000B28;
  text-align: center;
}

@media (min-width: 768px) {
  .contact-wrapper .contact-header {
    margin: calc(1rem + 1vw) 0;
  }
}

.contact-wrapper .contact-row {
  padding: calc(1rem + 1vw);
}

.contact-wrapper .contact-row .contact-col-text {
  color: #000B28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(1.25rem + 0.5vw);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: calc(1rem + 1vw);
}

.contact-wrapper .contact-row .contact-col-text .nav-logo-text {
  fill: #000B28;
  height: calc(1.25rem + 0.5vw);
  position: relative;
  bottom: calc(0.1rem + 0.05vw);
}

.contact-wrapper .contact-row .contact-col-text .phone-number {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  padding: calc(0.5rem + 0.5vw);
}

.contact-wrapper .contact-row .contact-col-text .phone-number .icon-phone {
  fill: #000B28;
  height: calc(1rem + 1vw);
  margin-right: calc(0.25rem + 0.1vw);
  width: calc(1rem + 1vw);
}

@media (max-width: 767.98px) {
  .contact-wrapper .contact-row .contact-col-text .phone-number {
    font-size: calc(1rem + 0.25vw);
  }
}

.contact-wrapper .contact-row .contact-col-text .hours-of-operation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  padding: calc(0.5rem + 0.5vw);
}

.contact-wrapper .contact-row .contact-col-text .hours-of-operation .icon-hours-of-operation {
  fill: none;
  stroke: #000B28;
  stroke-width: calc(0.25rem + 0.25vw);
  height: calc(1rem + 1vw);
  margin-right: calc(0.25rem + 0.1vw);
  width: calc(1rem + 1vw);
}

@media (max-width: 767.98px) {
  .contact-wrapper .contact-row .contact-col-text .hours-of-operation {
    font-size: calc(0.75rem + 0.25vw);
  }
}

.contact-wrapper .contact-row .contact-col-text.centered {
  text-align: center;
}

.contact-wrapper .contact-row .contact-col-contact-form {
  padding: calc(1rem + 1vw);
}

.faq-wrapper {
  background-color: #EFF4F8;
}

@media (max-width: 767.98px) {
  .faq-wrapper .beginning-of-page-spacer-mobile {
    padding-top: calc(12vh + 2rem);
  }
}

.faq-wrapper .navbar-spacer {
  background-color: #EFF4F8;
}

.faq-wrapper .faq-header {
  color: #000B28;
  text-align: center;
}

@media (min-width: 768px) {
  .faq-wrapper .faq-header {
    margin: calc(1rem + 1vw) 0;
  }
}

.faq-wrapper .faq-row {
  color: #000B28;
  padding: calc(1rem + 1vw);
}

.faq-wrapper .faq-row .faq-col h2 {
  font-size: calc(1rem + 0.5vw);
}

.faq-wrapper .faq-row .faq-col p {
  font-size: calc(1rem + 0.25vw);
}

footer {
  background-color: rgba(0, 11, 41, 0.75);
  padding-bottom: calc(2rem + 2vw);
  color: #EFF4F8;
  text-align: center;
}

footer .footer-back-to-top {
  padding: calc(1rem + 1vw);
}

footer .footer-back-to-top .icon-back-to-top {
  height: calc(2rem);
  fill: #EFF4F8;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  width: calc(2rem);
}

footer .footer-back-to-top .icon-back-to-top:hover {
  cursor: pointer;
  fill: #00AEEF;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

footer .footer-contact {
  padding: calc(2rem + 1vw);
}

footer .footer-contact .logo-rcpw {
  height: calc(8rem + 8vw);
  width: calc(8rem + 8vw);
  margin: calc(1rem + 1vw);
}

footer .footer-contact .footer-contact-phone {
  font-size: calc(1rem + 0.75vw);
  font-style: italic;
  padding: calc(0.5rem + 0.5vw) 0;
}

footer .footer-contact .footer-contact-phone .icon-phone {
  height: calc(1rem + 1vw);
  fill: #EFF4F8;
  width: calc(1rem + 1vw);
}

footer .footer-contact .footer-contact-hours-of-operation {
  font-size: calc(0.75rem + 0.5vw);
  font-style: italic;
  padding: calc(0.5rem + 0.5vw) 0;
}

footer .footer-contact .footer-contact-hours-of-operation .icon-hours-of-operation {
  fill: none;
  height: calc(1rem + 1vw);
  stroke: #EFF4F8;
  stroke-width: calc(0.25rem + 0.1vw);
  width: calc(1rem + 1vw);
}

footer .footer-contact .footer-contact-text {
  font-size: calc(1rem + 0.25vw);
  padding: calc(0.5rem + 0.5vw) 0;
}

footer .footer-contact .footer-contact-text .nav-logo-text {
  bottom: calc(0.1rem + 0.05vw);
  fill: #EFF4F8;
  height: calc(1rem + 0.25vw);
  position: relative;
}

footer .footer-copyright {
  font-size: calc(0.75rem + 0.75vw);
  padding: calc(1rem + 1vw);
}

footer .footer-flair {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: calc(2rem + 1vw);
}

footer .footer-flair .logo-facebook {
  padding: calc(0.5rem + 0.5vw);
  width: 20vw;
}

footer .footer-flair .logo-google {
  padding: calc(0.5rem + 0.5vw);
  width: 20vw;
}

footer .footer-flair .logo-pittsburgh-penguins {
  padding: calc(0.5rem + 0.5vw);
  width: 20vw;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  footer .footer-flair .logo-facebook {
    padding: calc(1rem + 1vw);
    width: 40vw;
  }
  footer .footer-flair .logo-google {
    padding: calc(1rem + 1vw);
    width: 40vw;
  }
  footer .footer-flair .logo-pittsburgh-penguins {
    padding: calc(1rem + 1vw);
    width: 40vw;
  }
}

@media (max-width: 575.98px) {
  footer .footer-flair .logo-facebook {
    padding: calc(1rem + 1vw);
    width: 60vw;
  }
  footer .footer-flair .logo-google {
    padding: calc(1rem + 1vw);
    width: 60vw;
  }
  footer .footer-flair .logo-pittsburgh-penguins {
    padding: calc(1rem + 1vw);
    width: 60vw;
  }
}

footer .footer-map {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: calc(2rem + 1vw);
}

footer .footer-map .footer-map-iframe {
  height: 100%;
  width: 100%;
}

footer .footer-map .footer-map-text {
  font-size: calc(0.5rem + 0.35vw);
  padding: calc(0.5rem + 0.5vw);
}

@media (max-width: 767.98px) {
  footer .footer-map {
    padding-bottom: 0;
    padding-top: 0;
  }
  footer .footer-map .footer-map-iframe {
    height: 50vh;
  }
}

footer .footer-recaptcha {
  padding: calc(1rem + 1vw);
}

.thanks-page-background {
  background-color: #000B28;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 3, 5, 0.35)), to(rgba(2, 3, 5, 0.35))), url("/static/img/house-01.jpg");
  background-image: linear-gradient(rgba(2, 3, 5, 0.35), rgba(2, 3, 5, 0.35)), url("/static/img/house-01.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.thanks-wrapper {
  background-color: #EFF4F8;
}

@media (max-width: 767.98px) {
  .thanks-wrapper .beginning-of-page-spacer-mobile {
    padding-top: calc(12vh + 2rem);
  }
}

.thanks-wrapper .navbar-spacer {
  background-color: #EFF4F8;
}

.thanks-wrapper .thanks-header {
  color: #000B28;
  text-align: center;
}

@media (min-width: 768px) {
  .thanks-wrapper .thanks-header {
    margin: calc(1rem + 1vw) 0;
  }
}

.thanks-wrapper .thanks-row {
  color: #000B28;
  padding: calc(1rem + 1vw);
}

.thanks-wrapper .thanks-row .thanks-col {
  font-size: calc(1rem + 0.25vw);
}

.thanks-wrapper .thanks-row .thanks-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thanks-wrapper .thanks-row .thanks-image .logo-rcpw {
  height: 35vh;
  margin: calc(1rem + 1vw);
}

* {
  margin: 20;
  padding: 0;
}

body {
  background-color: #EFF4F8;
}

.grecaptcha-badge {
  visibility: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.background-image {
  background-color: #000B28;
  background-position: center;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.navbar-spacer {
  height: 133px;
  width: 100%;
}

@media (max-width: 767.98px) {
  .navbar-spacer {
    height: 58px;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

[class^="col-"],
[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
/*# sourceMappingURL=base.css.map */