@import 'colors';
@import 'navbar';
@import 'index';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  scroll-behavior: smooth;
}

// This spacer is supposed to accommodate for the space beneath the
// navbar
.navbar-spacer {
  height: 142px;
  width: 100%;
}

// No gutters
.row {
  margin-left: 0;
  margin-right: 0;
}

[class^="col-"],
[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}