{% extends 'base.html' %}
{% load static %}

<!-- Meta Description -->
{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers deck staining services in {% include 'business_information/location.html' %} - request a FREE quote today!">
{% endblock%}

<!-- Custom JavaScript -->
{% block javascript %} <script src="{% static 'js/services.js' %}"></script> {% endblock %}

<!-- Title -->
{% block title %} Deck Staining Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

<!-- Service Page Background -->
<div class="service-page-background"></div>

<!-- Service -->
<div class="service-wrapper">
  <div class="beginning-of-page-spacer-mobile"></div>

  <!-- Service Title -->
  <h1 class="service-header">Deck Staining Services</h1>

  <!-- Service Copy -->
  <section class="row service-row">
    <div class="col-md-6 service-col-image">
      <img class="service-image" src="{% static 'img/deck-staining-01.jpg' %}" alt="Deck Staining">
    </div>
    <div class="col-md-6 service-col-text">
      <p>
        Decks can be a valuable (and costly) addition to any home,
        that's why important to treat your deck with a high-quality
        stain that not only looks great, but protects your investment
        for years to come. 
      </p>
      <p>
        If your deck is in need of a good old-fashioned high-quality
        water-resistant stain, contact 
        {% include 'svg/nav-logo-text.svg' %} today!
      </p>
    </div>
  </section>

  <!-- Service Contact Form -->
  <section class="row service-row">
    <div class="col-md-6 service-col-text centered">
      <p>
        If you're ready to have your property shining like new, 
        give us a call or fill out our form to request a FREE 
        quote and a member from our team will get back to you ASAP!
      </p>
      <div class="service-phone-number">
        {% include 'svg/icon-phone.svg' %}
        {% include 'business_information/phone-number.html' %}
      </div>
      <div class="service-hours-of-operation">
        {% include 'svg/icon-hours-of-operation.svg' %}
        {% include 'business_information/hours-of-operation.html' %}
      </div>
    </div>
    <div class="col-md-6 service-col-contact-form">
      {% include 'contact_form/contact-form.html' %}
    </div>
  </section>
</div>

{% endblock %}