{% extends 'base.html' %}
{% load static %}

<!-- Meta Description -->
{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers fence cleaning services in {% include 'business_information/location.html' %} - request a FREE quote today!">
{% endblock%}

<!-- Custom JavaScript -->
{% block javascript %}{% endblock %}

<!-- Title -->
{% block title %} Fence Cleaning Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

  <!-- Service -->
  <div class="service-wrapper">

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Spacer for "Call Now" and "Free Quote" buttons -->
    <div class="beginning-of-page-spacer-mobile"></div>

    <!-- Service Title -->
    <h1 class="service-header">Fence Cleaning Services</h1>

    <!-- Service Copy -->
    <section class="row service-row">
      <div class="col-md-6 service-col-image">
        {% include '../responsive_images/ri-fence-cleaning.html' %}
      </div>
      <div class="col-md-6 service-col-text">
        <p>
          Fences can accumulate 
          dirt, stains, algae, mold, and other pollutants over time.
        </p>
        <p>
          If your fence is in need of a good 
          old-fashioned gas-powered scrub-down, contact 
          {% include 'svg/nav-logo-text.svg' %} today!
        </p>
      </div>
    </section>

    <!-- Service Contact Form -->
    <section class="row service-row">
      <div class="col-md-6 service-col-text">
        {% include 'business_information/contact-form-copy.html' %}
      </div>
      <div class="col-md-6 service-col-contact-form">
        {% include 'contact_form/contact-form.html' %}
      </div>
    </section>
  </div>

{% endblock %}