{% extends 'base.html' %}
{% load static %}

<!-- Meta Description -->
{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers pressure washing services in {% include 'business_information/location.html' %} - contact us and request a FREE quote today!">
{% endblock%}

<!-- Title -->
{% block title %} Contact Us For Pressure Washing Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

  <!-- Contact -->
  <div class="contact-wrapper">

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Spacer for "Call Now" and "Free Quote" buttons -->
    <div class="beginning-of-page-spacer-mobile"></div>

    <!-- Contact Header -->
    <h1 class="contact-header">Contact Us</h1>

    <!-- Contact Form -->
    <section class="row contact-row">
      <div class="col-md-6 contact-col-contact-form">
        {% include 'contact_form/contact-form.html' %}
      </div>
      <div class="col-md-6 contact-col-text">
        {% include 'business_information/contact-form-copy.html' %}
      </div>
    </section>
  </div>

{% endblock %}