{% extends 'base.html' %}
{% load static %}

<!-- Meta Description -->
{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers power washing services in {% include 'business_information/location.html' %} - request a FREE quote today!">
{% endblock%}

<!-- Title -->
{% block title %} Power Washing Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

  <!-- Navbar Spacer -->
  <div class="navbar-spacer"></div>

  <!-- Landing Page -->
  <section class="row landing-page-row">
    <div class="col-md-7 landing-page-col-left">
      <h1 class="landing-page-caption">
        Power washing services in
        {% include 'business_information/location.html' %}
      </h1>
    </div>
    <div class="col-md-5 landing-page-col-right">
      {% include 'contact_form/contact-form.html' %}
    </div>
  </section>

  <!-- Landing Page Footer -->
  <section class="row landing-page-footer">
    <h2 class="landing-page-caption-footer">
      Power washing services in
      {% include 'business_information/location.html' %}
    </h2>
    <div class="landing-page-footer-wrapper landing-page-footer-phone">
      {% include 'svg/icon-phone.svg' %}
      {% include 'business_information/phone-number.html' %}
    </div>
    <div class="landing-page-footer-wrapper">
      {% include 'svg/icon-hours-of-operation.svg' %}
      {% include 'business_information/hours-of-operation.html' %}
    </div>
  </section>

  <!-- Section 1, Services -->
  <section class="row section-1-row">

    <!-- House Washing -->
    <div class="card">
      <a href="{% url 'house-washing' %}">
        <div class="card-img-top">
          {% include 'responsive_images/ri-house-washing.html' %}
        </div>
        <div class="card-body">
          <h2 class="card-title">House Washing</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Deck & Patio Washing -->
    <div class="card">
      <a href="{% url 'deck-patio-washing' %}">
        <div class="card-img-top">
          {% include 'responsive_images/ri-deck-patio-washing.html' %}
        </div>
        <div class="card-body">
          <h2 class="card-title">Deck & Patio Washing</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Deck Staining -->
    <div class="card">
      <a href="{% url 'deck-staining' %}">
        <div class="card-img-top">
          {% include 'responsive_images/ri-deck-staining.html' %}
        </div>
        <div class="card-body">
          <h2 class="card-title">Deck Staining</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Concrete & Brick Washing -->
    <div class="card">
      <a href="{% url 'concrete-brick-washing' %}">
        <div class="card-img-top">
          {% include 'responsive_images/ri-concrete-brick-washing.html' %}
        </div>
        <div class="card-body">
          <h2 class="card-title">Concrete & Brick Washing</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Fence Cleaning -->
    <div class="card">
      <a href="{% url 'fence-cleaning' %}">
        <div class="card-img-top">
          {% include 'responsive_images/ri-fence-cleaning.html' %}
        </div>
        <div class="card-body">
          <h2 class="card-title">Fence Cleaning</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Graffiti Removal -->
    <div class="card">
      <a href="{% url 'graffiti-removal' %}">
        <div class="card-img-top">
          {% include 'responsive_images/ri-graffiti-removal.html' %}
        </div>
        <div class="card-body">
          <h2 class="card-title">Graffiti Removal</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>
  </section>

  <!-- Section 1 Copy, and Mulvey -->
  <section class="row section-1-copy">
    <div class="col-md-6">
      {% include 'responsive_images/ri-mulvey.html' %}
    </div>
    <div class="col-md-6">
      <p>
        We offer a variety of power washing services, including exterior house
        cleaning, deck & patio washing, deck sealing, deck staining, hard surface
        cleaning including brick and concrete surfaces, driveways, walkways,
        sidewalks, fence cleaning, and graffiti removal.
      </p>
      <p>
        Our power washing processes takes advantage of a "soft wash" system that
        uses a combination of low-pressure water and a mild detergent, which is
        safe and ensures that no damage is done to your property. This is a
        highly effective and industry-standard process that will have your
        property shining like new!
      </p>
      <p>
        If your property needs cleaning, then 
        <a href="{% url 'contact' %}">contact us</a> today!
      </p>
    </div>
  </section>

{% endblock %}