{% extends 'base.html' %}
{% load static %}

<!-- Meta Description -->
{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers pressure washing services in {% include 'business_information/location.html' %} - request a FREE quote today!">
{% endblock%}

<!-- Custom JavaScript -->
{% block javascript %} <script src="{% static 'js/index.js' %}"></script> {% endblock %}

<!-- Title -->
{% block title %} Providing Quality Pressure Washing Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

  <!-- Navbar Spacer -->
  <div class="navbar-spacer"></div>

  <!-- Landing Page Background -->
  <style scoped>
    @media (min-width: 320px) {
      .landing-page-background {
        background-image: url({% static 'img/house-01/340kB/1x-house-01-320.jpg' %});
        background-image: -webkit-image-set(url({% static 'img/house-01/340kB/1x-house-01-320.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-320.jpg' %}) 2x);  
        background-image:         image-set(url({% static 'img/house-01/340kB/1x-house-01-320.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-320.jpg' %}) 2x);
      }
    }
    @media (min-width: 576px) {
      .landing-page-background {
        background-image: url({% static 'img/house-01/340kB/1x-house-01-576.jpg' %});
        background-image: -webkit-image-set(url({% static 'img/house-01/340kB/1x-house-01-576.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-576.jpg' %}) 2x);  
        background-image:         image-set(url({% static 'img/house-01/340kB/1x-house-01-576.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-576.jpg' %}) 2x);
      }
    }
    @media (min-width: 768px) {
      .landing-page-background {
        background-image: url({% static 'img/house-01/340kB/1x-house-01-768.jpg' %});
        background-image: -webkit-image-set(url({% static 'img/house-01/340kB/1x-house-01-768.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-768.jpg' %}) 2x);  
        background-image:         image-set(url({% static 'img/house-01/340kB/1x-house-01-768.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-768.jpg' %}) 2x);
      }
    }
    @media (min-width: 992px) {
      .landing-page-background {
        background-image: url({% static 'img/house-01/340kB/1x-house-01-992.jpg' %});
        background-image: -webkit-image-set(url({% static 'img/house-01/340kB/1x-house-01-992.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-992.jpg' %}) 2x);  
        background-image:         image-set(url({% static 'img/house-01/340kB/1x-house-01-992.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-992.jpg' %}) 2x);
      }
    }
    @media (min-width: 1200px) {
      .landing-page-background {
        background-image: url({% static 'img/house-01/340kB/1x-house-01-1200.jpg' %});
        background-image: -webkit-image-set(url({% static 'img/house-01/340kB/1x-house-01-1200.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-1200.jpg' %}) 2x);  
        background-image:         image-set(url({% static 'img/house-01/340kB/1x-house-01-1200.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-1200.jpg' %}) 2x);
      }
    }
    @media (min-width: 1440px) {
      .landing-page-background {
        background-image: url({% static 'img/house-01/340kB/1x-house-01-1440.jpg' %});
        background-image: -webkit-image-set(url({% static 'img/house-01/340kB/1x-house-01-1440.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-1440.jpg' %}) 2x);  
        background-image:         image-set(url({% static 'img/house-01/340kB/1x-house-01-1440.jpg' %}) 1x, url({% static 'img/house-01/340kB/2x-house-01-1440.jpg' %}) 2x);
      }
    }
  </style>
  <div class="landing-page-background"></div>

  <!-- Landing Page -->
  <section class="row landing-page-row">
    <div class="col-md-7 landing-page-col-left">
      <div class="landing-page-caption">
        Pressure washing services in
        {% include 'business_information/location.html' %}
      </div>
    </div>
    <div class="col-md-5 landing-page-col-right">
      {% include 'contact_form/contact-form.html' %}
    </div>
  </section>

  <!-- Landing Page Footer -->
  <section class="row landing-page-footer">
    <div class="landing-page-caption-footer">
      Offering pressure washing services in
      {% include 'business_information/location.html' %}
    </div>
    <div class="landing-page-footer-wrapper landing-page-footer-phone">
      {% include 'svg/icon-phone.svg' %}
      {% include 'business_information/phone-number.html' %}
    </div>
    <div class="landing-page-footer-wrapper">
      {% include 'svg/icon-hours-of-operation.svg' %}
      {% include 'business_information/hours-of-operation.html' %}
    </div>
  </section>

  <!-- Section 1, Services -->
  <section class="row section-1-row">

    <!-- House Washing -->
    <div class="card">
      <a href="{% url 'house-washing' %}">
        <div class="card-img-top">
          <div 
            class="card-img-house-washing card-img-zoom" 
            style="background-image: url({% static 'img/house-02.jpg' %});"
          ></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">House Washing</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Deck & Patio Washing -->
    <div class="card">
      <a href="{% url 'deck-patio-washing' %}">
        <div class="card-img-top">
          <div 
            class="card-img-deck-and-patio-washing card-img-zoom"
            style="background-image: url({% static 'img/deck-washing-01.jpg' %});"
          ></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Deck & Patio Washing</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Deck Staining -->
    <div class="card">
      <a href="{% url 'deck-staining' %}">
        <div class="card-img-top">
          <div 
            class="card-img-deck-staining card-img-zoom"
            style="background-image: url({% static 'img/deck-staining-01.jpg' %});"
          ></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Deck Staining</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Concrete & Brick Washing -->
    <div class="card">
      <a href="{% url 'concrete-brick-washing' %}">
        <div class="card-img-top">
          <div 
            class="card-img-concrete-and-brick-washing card-img-zoom"
            style="background-image: url({% static 'img/brick-washing-01.jpg' %});"
          ></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Concrete & Brick Washing</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Fence Cleaning -->
    <div class="card">
      <a href="{% url 'fence-cleaning' %}">
        <div class="card-img-top">
          <div 
            class="card-img-fence-cleaning card-img-zoom"
            style="background-image: url({% static 'img/wooden-fence-01.jpg' %});"
          ></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Fence Cleaning</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Graffiti Removal -->
    <div class="card">
      <a href="{% url 'graffiti-removal' %}">
        <div class="card-img-top">
          <div 
            class="card-img-graffiti-removal card-img-zoom"
            style="background-image: url({% static 'img/graffiti-02.jpg' %});"
          ></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Graffiti Removal</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

  </section>

{% endblock %}