{% extends 'base.html' %}
{% load static %}

<!-- Custom JavaScript -->
{% block javascript %} <script src="{% static 'js/index.js' %}"></script> {% endblock %}

<!-- Title -->
{% block title %} Providing Quality Pressure Washing Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

  <!-- Landing Page Background -->
  <div class="landing-page-background"></div>

  <!-- Landing Page -->
  <section class="row landing-page-row">
    <div class="col-md-7 landing-page-col-left">
      <div class="landing-page-caption">
        Pressure washing services in Richmond, <br />
        Manassas, Central & Northern Virginia
      </div>
    </div>
    <div class="col-md-5 landing-page-col-right">
      {% include 'contact_form/contact-form.html' %}
    </div>
  </section>

  <!-- Landing Page Footer -->
  <section class="row landing-page-footer">
    <div class="landing-page-footer-wrapper">
      {% include 'svg/icon-phone.svg' %}
      {% include 'business_information/phone-number.html' %}
    </div>
    <div class="landing-page-footer-wrapper">
      {% include 'svg/icon-hours-of-operation.svg' %}
      {% include 'business_information/hours-of-operation.html' %}
    </div>
  </section>

  <!-- Section 1, Services -->
  <section class="row section-1-row">

    <!-- House Washing -->
    <div class="card">
      <a href="{% url 'house-washing' %}">
        <div class="card-img-top">
          <div class="card-img-house-washing card-img-zoom"></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">House Washing</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Deck & Patio Washing -->
    <div class="card">
      <a href="{% url 'deck-patio-washing' %}">
        <div class="card-img-top">
          <div class="card-img-deck-and-patio-washing card-img-zoom"></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Deck & Patio Washing</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Deck Staining -->
    <div class="card">
      <a href="{% url 'deck-staining' %}">
        <div class="card-img-top">
          <div class="card-img-deck-staining card-img-zoom"></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Deck Staining</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Concrete & Brick Washing -->
    <div class="card">
      <a href="{% url 'concrete-brick-washing' %}">
        <div class="card-img-top">
          <div class="card-img-concrete-and-brick-washing card-img-zoom"></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Concrete & Brick Washing</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Fence Cleaning -->
    <div class="card">
      <a href="{% url 'fence-cleaning' %}">
        <div class="card-img-top">
          <div class="card-img-fence-cleaning card-img-zoom"></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Fence Cleaning</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

    <!-- Graffiti Removal -->
    <div class="card">
      <a href="{% url 'graffiti-removal' %}">
        <div class="card-img-top">
          <div class="card-img-graffiti-removal card-img-zoom"></div>
        </div>
        <div class="card-body">
          <h2 class="card-title">Graffiti Removal</h2>
          <p class="card-text">Learn More {% include 'svg/icon-arrow-right.svg' %}</p>
        </div>
      </a>
    </div>

  </section>

{% endblock %}