<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">{% include 'business_information/name.html' %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rcpw-navbar" aria-controls="rcpw-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="rcpw-navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'services' %}" id="rcpw-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-menu" aria-labelledby="rcpw-dropdown">
          <a class="dropdown-item" href="{% url 'house-washing' %}">House Washing</a>
          <a class="dropdown-item" href="{% url 'concrete-brick-washing' %}">Concrete/Brick Washing</a>
          <a class="dropdown-item" href="{% url 'deck-patio-cleaning' %}">Deck & Patio Cleaning</a>
          <a class="dropdown-item" href="{% url 'deck-staining' %}">Deck Staining</a>
          <a class="dropdown-item" href="{% url 'grafitti-removal' %}">Grafitti Removal</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'our-work' %}">Our Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
      </li>
    </ul>
  </div>
</nav>