<nav class="navbar navbar-expand-md">
  <h1 style="display: none; position: fixed;">River City Pro Wash - Navigation</h1>
  <a class="navbar-brand" href="{% url 'index' %}">
    <div>
      {% include 'svg/nav-logo-text.svg' %}
    </div>
    <div class="nav-logo-wand-subtext-wrapper">
      {% include 'svg/nav-logo-wand-subtext.svg' %}
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rcpw-navbar" aria-controls="rcpw-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">{% include 'svg/nav-hamburger-icon.svg' %}</span>
  </button>

  <div class="collapse navbar-collapse" id="rcpw-navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="rcpw-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-menu" aria-labelledby="rcpw-dropdown">
          <a class="dropdown-item" href="{% url 'house-washing' %}">House Washing</a>
          <a class="dropdown-item" href="{% url 'concrete-brick-washing' %}">Concrete & Brick Washing</a>
          <a class="dropdown-item" href="{% url 'deck-patio-washing' %}">Deck & Patio Washing</a>
          <a class="dropdown-item" href="{% url 'deck-staining' %}">Deck Staining</a>
          <a class="dropdown-item" href="{% url 'fence-cleaning' %}">Fence Cleaning</a>
          <a class="dropdown-item" href="{% url 'graffiti-removal' %}">Graffiti Removal</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'our-work' %}">Our Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
      </li>
    </ul>
  </div>
</nav>

<div class="nav-call-now">
  <button class="nav-call-now-button">
    {% include 'svg/icon-phone.svg' %}
    Call Now
  </button>
</div>

<div class="nav-free-quote">
  <button class="nav-free-quote-button" data-url="{% url 'contact' %}">
    <span class="nav-free-quote-emphasis">FREE</span>&nbsp;Quote
  </button>
</div>