{% extends 'base.html' %}
{% load static %}

<!-- Meta Description -->
{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers pressure washing services in {% include 'business_information/location.html' %} - view our work and request a FREE quote today!">
{% endblock%}

<!-- Custom JavaScript -->
{% block javascript %} <script src="{% static 'js/our-work.js' %}"></script> {% endblock %}

<!-- Title -->
{% block title %} Restore Your Property To New Condition With Pressure Washing Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

<!-- Our Work Page Background -->
<div class="our-work-page-background"></div>

<!-- Our Work -->
<div class="our-work-wrapper">

  <!-- Navbar Spacer -->
  <div class="navbar-spacer"></div>

  <!-- Spacer for "Call Now" and "Free Quote" buttons -->
  <div class="beginning-of-page-spacer-mobile"></div>

  <!-- Our Work Title -->
  <h1 class="our-work-header">Our Work</h1>

  <!-- BAAP, Houses -->
  {% if Houses %}
  <section class="row our-work-row">
    <h2 class="our-work-subsection-heading">Houses</h2>
  </section>
  {% endif %}
  <section class="row our-work-row">
    {% for house in Houses %}
      <div class="our-work-baap-group" 
        data-category="{{ house.Category }}" 
        data-before-src="{{ house.Before_Picture.url }}"
        data-after-src="{{ house.After_Picture.url }}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="our-work-baap-group-before">
          <img src="{{ house.Before_Picture.url }}" alt="{{ house.Before_Picture_Description }}" />
        </div>
        <div class="our-work-baap-group-after">
          <img src="{{ house.After_Picture.url }}" alt="{{ house.After_Picture_Description }}" />
        </div>
      </div>
    {% endfor %}
  </section>

  <!-- BAAP, Decks -->
  {% if Decks %}
  <section class="row our-work-row">
    <h2 class="our-work-subsection-heading">Decks</h2>
  </section>
  {% endif %}
  <section class="row our-work-row">
    {% for house in Decks %}
      <div class="our-work-baap-group" 
        data-category="{{ house.Category }}" 
        data-before-src="{{ house.Before_Picture.url }}"
        data-after-src="{{ house.After_Picture.url }}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="our-work-baap-group-before">
          <img src="{{ house.Before_Picture.url }}" alt="{{ house.Before_Picture_Description }}" />
        </div>
        <div class="our-work-baap-group-after">
          <img src="{{ house.After_Picture.url }}" alt="{{ house.After_Picture_Description }}" />
        </div>
      </div>
    {% endfor %}
  </section>

  <!-- BAAP, Sidewalks -->
  {% if Sidewalks %}
  <section class="row our-work-row">
    <h2 class="our-work-subsection-heading">Sidewalks</h2>
  </section>
  {% endif %}
  <section class="row our-work-row">
    {% for sidewalk in Sidewalks %}
      <div class="our-work-baap-group" 
        data-category="{{ sidewalk.Category }}" 
        data-before-src="{{ sidewalk.Before_Picture.url }}"
        data-after-src="{{ sidewalk.After_Picture.url }}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="our-work-baap-group-before">
          <img src="{{ sidewalk.Before_Picture.url }}" alt="{{ sidewalk.Before_Picture_Description }}" />
        </div>
        <div class="our-work-baap-group-after">
          <img src="{{ sidewalk.After_Picture.url }}" alt="{{ sidewalk.After_Picture_Description }}" />
        </div>
      </div>
    {% endfor %}
  </section>

    <!-- BAAP, House 01 -->
    <!-- <div class="our-work-baap-group" 
      data-id="ba-house-01" 
      data-src="{% static 'img' %}"
      data-toggle="modal" 
      data-target="#modal-baap-template"
    >
      <div class="our-work-baap-group-before">
        <img src="{% static 'img/ba-house-01-before.jpg' %}">
      </div>
      <div class="our-work-baap-group-after">
        <img src="{% static 'img/ba-house-01-after.jpg' %}">
      </div>
    </div> -->

    <!-- BAAP, sidewalk 01 -->
    <!-- <div class="our-work-baap-group" 
      data-id="ba-sidewalk-01" 
      data-src="{% static 'img' %}"
      data-toggle="modal" 
      data-target="#modal-baap-template"
    >
      <div class="our-work-baap-group-before">
        <img src="{% static 'img/ba-sidewalk-01-before.jpg' %}">
      </div>
      <div class="our-work-baap-group-after">
        <img src="{% static 'img/ba-sidewalk-01-after.jpg' %}">
      </div>
    </div> -->

  </section>

  {% include 'modals/our-work-modals.html' %}

</div>

{% endblock %}