{% extends 'base.html' %}
{% load static %}

<!-- Meta Description -->
{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers pressure washing services in {% include 'business_information/location.html' %} - view our work and request a FREE quote today!">
{% endblock%}

<!-- Custom JavaScript -->
{% block javascript %} <script src="{% static 'js/our-work.js' %}"></script> {% endblock %}

<!-- Title -->
{% block title %} Restore Your Property To New Condition With Pressure Washing Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

<!-- Our Work Page Background -->
<div class="our-work-page-background"></div>

<!-- Our Work -->
<div class="our-work-wrapper">

  <!-- Navbar Spacer -->
  <div class="navbar-spacer"></div>

  <!-- Spacer for "Call Now" and "Free Quote" buttons -->
  <div class="beginning-of-page-spacer-mobile"></div>

  <!-- Our Work Title -->
  <h1 class="our-work-header">Our Work</h1>

  <!-- Section 1 -->
  <section class="row our-work-row">

      <!-- BAAP, House 01 -->
      {% for house in Houses %}
        <div class="our-work-baap-group" 
          data-id="ba-house-01" 
          data-src="{% static 'img' %}"
          data-toggle="modal" 
          data-target="#modal-baap-template"
        >
          <div class="our-work-baap-group-before">
            <img src="{% get_media_prefix %}{{ house.img_before }}" alt="{{ house.img_alt_before }}" />
          </div>
          <div class="our-work-baap-group-after">
            <img src="{% get_media_prefix %}{{ house.img_after }}" alt="{{ house.img_alt_before }}" />
          </div>
        </div>
      {% endfor %}

    <!-- BAAP, House 01 -->
    <!-- <div class="our-work-baap-group" 
      data-id="ba-house-01" 
      data-src="{% static 'img' %}"
      data-toggle="modal" 
      data-target="#modal-baap-template"
    >
      <div class="our-work-baap-group-before">
        <img src="{% static 'img/ba-house-01-before.jpg' %}">
      </div>
      <div class="our-work-baap-group-after">
        <img src="{% static 'img/ba-house-01-after.jpg' %}">
      </div>
    </div> -->

    <!-- BAAP, House 02 -->
    <!-- <div class="our-work-baap-group" 
      data-id="ba-house-02" 
      data-src="{% static 'img' %}"
      data-toggle="modal" 
      data-target="#modal-baap-template"
    >
      <div class="our-work-baap-group-before">
        <img src="{% static 'img/ba-house-02-before.jpg' %}">
      </div>
      <div class="our-work-baap-group-after">
        <img src="{% static 'img/ba-house-02-after.jpg' %}">
      </div>
    </div> -->

    <!-- BAAP, House 03 -->
    <!-- <div class="our-work-baap-group" 
      data-id="ba-house-03" 
      data-src="{% static 'img' %}"
      data-toggle="modal" 
      data-target="#modal-baap-template"
    >
      <div class="our-work-baap-group-before">
        <img src="{% static 'img/ba-house-03-before.jpg' %}">
      </div>
      <div class="our-work-baap-group-after">
        <img src="{% static 'img/ba-house-03-after.jpg' %}">
      </div>
    </div> -->

    <!-- BAAP, sidewalk 01 -->
    <!-- <div class="our-work-baap-group" 
      data-id="ba-sidewalk-01" 
      data-src="{% static 'img' %}"
      data-toggle="modal" 
      data-target="#modal-baap-template"
    >
      <div class="our-work-baap-group-before">
        <img src="{% static 'img/ba-sidewalk-01-before.jpg' %}">
      </div>
      <div class="our-work-baap-group-after">
        <img src="{% static 'img/ba-sidewalk-01-after.jpg' %}">
      </div>
    </div> -->

  </section>

  {% include 'modals/our-work-modals.html' %}

</div>

{% endblock %}