{% extends 'base.html' %}
{% load static %}

<!-- Meta Description -->
{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers pressure washing services in {% include 'business_information/location.html' %} - view our work and request a FREE quote today!">
{% endblock%}

<!-- Custom JavaScript -->
{% block javascript %} <script src="{% static 'js/our-work.js' %}"></script> {% endblock %}

<!-- Title -->
{% block title %} Restore Your Property To New Condition With Pressure Washing Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

<!-- Our Work Page Background -->
<div class="our-work-page-background"></div>

<!-- Our Work -->
<div class="our-work-wrapper">

  <!-- Navbar Spacer -->
  <div class="navbar-spacer"></div>

  <!-- Spacer for "Call Now" and "Free Quote" buttons -->
  <div class="beginning-of-page-spacer-mobile"></div>

  <!-- Our Work Title -->
  <h1 class="our-work-header">Our Work</h1>

  <section class="row our-work-copy">
    <div class="col-md-6">
      {% include 'responsive_images/ri-mulvey.html' %}
    </div>
    <div class="col-md-6">
      <p>
        We take pride in our power washing services. Over time, it's inevitable 
        that outdoor property will start to accumulate dirt, dust, and possibly
        mold, mildew, and other natural debris. Whether it's your home, driveway, 
        deck, sidewalk, or walkway, we can clean it for you!
      </p>
      <p>
        If your home, business, or property needs cleaning, then give us a call 
        or send us a message and see what we can do for you - 
        <a href="{% url 'contact' %}">send a message</a>!
      </p>
    </div>
  </section>

  <!-- BAAP, Houses -->
  {% if Houses %}
    <h2 class="our-work-subsection-heading">Houses</h2>
    <section class="row our-work-row">
      {% for image in Houses %}
        {% include 'our-work-baap.html' %}
      {% endfor %}
    </section>
  {% endif %}

  <!-- BAAP, Decks -->
  {% if Decks %}
    <h2 class="our-work-subsection-heading">Decks</h2>
    <section class="row our-work-row">
      {% for image in Decks %}
        {% include 'our-work-baap.html' %}
      {% endfor %}
    </section>
  {% endif %}

  <!-- BAAP, Deck Staining -->
  {% if Deck_Staining %}
    <h2 class="our-work-subsection-heading">Deck Staining</h2>
    <section class="row our-work-row">
      {% for image in Deck_Staining %}
        {% include 'our-work-baap.html' %}
      {% endfor %}
    </section>
  {% endif %}

  <!-- BAAP, Concrete & Brick -->
  {% if Concrete_and_Brick %}
    <h2 class="our-work-subsection-heading">Concrete & Brick</h2>
    <section class="row our-work-row">
      {% for image in Concrete_and_Brick %}
        {% include 'our-work-baap.html' %}
      {% endfor %}
    </section>
  {% endif %}

  <!-- BAAP, Driveways -->
  {% if Driveways %}
    <h2 class="our-work-subsection-heading">Driveways</h2>
    <section class="row our-work-row">
      {% for image in Driveways %}
        {% include 'our-work-baap.html' %}
      {% endfor %}
    </section>
  {% endif %}

  <!-- BAAP, Fences -->
  {% if Fences %}
    <h2 class="our-work-subsection-heading">Fences</h2>
    <section class="row our-work-row">
      {% for image in Fences %}
        {% include 'our-work-baap.html' %}
      {% endfor %}
    </section>
  {% endif %}

  <!-- BAAP, Graffiti Removal -->
  {% if Graffiti_Removal %}
    <h2 class="our-work-subsection-heading">Graffiti Removal</h2>
    <section class="row our-work-row">
      {% for image in Graffiti_Removal %}
        {% include 'our-work-baap.html' %}
      {% endfor %}
    </section>
  {% endif %}

  <!-- BAAP, Sidewalks -->
  {% if Sidewalks %}
    <h2 class="our-work-subsection-heading">Sidewalks</h2>
    <section class="row our-work-row">
      {% for image in Sidewalks %}
        {% include 'our-work-baap.html' %}
      {% endfor %}
    </section>
  {% endif %}

  <!-- BAAP, No Category -->
  {% if No_Category %}
    <section class="row our-work-row">
      {% for image in No_Category %}
        {% include 'our-work-baap.html' %}
      {% endfor %}
    </section>
  {% endif %}

  {% include 'modals/our-work-modals.html' %}

</div>

{% endblock %}