{% extends 'base.html' %}
{% load static %}

<!-- Meta Description -->
{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers pressure washing services in {% include 'business_information/location.html' %} - request a FREE quote today!">
{% endblock%}

<!-- Custom JavaScript -->
{% block javascript %} <script src="{% static 'js/services.js' %}"></script> {% endblock %}

<!-- Title -->
{% block title %} Quality Pressure Washing Services {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %} {% endblock %}

<!-- Content -->
{% block content %}

  <h1>Services</h1>

{% endblock %}