{% load static %}

<style scoped>
  @media (min-width: 320px) {
    .background-image {
      background-image:                   url({% static 'img/house-01/340kb/1x-house-01-320.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/340kb/1x-house-01-320.webp' %}) 1x, url({% static 'img/house-01/340kb/2x-house-01-320.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/house-01/340kb/1x-house-01-320.jpg' %}) 1x, url({% static 'img/house-01/340kb/2x-house-01-320.jpg' %}) 2x);
    }
  }
  @media (min-width: 576px) {
    .background-image {
      background-image:                   url({% static 'img/house-01/340kb/1x-house-01-576.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/340kb/1x-house-01-576.webp' %}) 1x, url({% static 'img/house-01/340kb/2x-house-01-576.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/house-01/340kb/1x-house-01-576.jpg' %}) 1x, url({% static 'img/house-01/340kb/2x-house-01-576.jpg' %}) 2x);
    }
  }
  @media (min-width: 768px) {
    .background-image {
      background-image:                   url({% static 'img/house-01/340kb/1x-house-01-768.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/340kb/1x-house-01-768.webp' %}) 1x, url({% static 'img/house-01/340kb/2x-house-01-768.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/house-01/340kb/1x-house-01-768.jpg' %}) 1x, url({% static 'img/house-01/340kb/2x-house-01-768.jpg' %}) 2x);
    }
  }
  @media (min-width: 992px) {
    .background-image {
      background-image:                   url({% static 'img/house-01/340kb/1x-house-01-992.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/340kb/1x-house-01-992.webp' %}) 1x);  
      background-image:         image-set(url({% static 'img/house-01/340kb/1x-house-01-992.jpg' %}) 1x);
    }
  }
  @media (min-width: 1200px) {
    .background-image {
      background-image:                   url({% static 'img/house-01/340kb/1x-house-01-1200.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/340kb/1x-house-01-1200.webp' %}) 1x);  
      background-image:         image-set(url({% static 'img/house-01/340kb/1x-house-01-1200.jpg' %}) 1x);
    }
  }
  @media (min-width: 1440px) {
    .background-image {
      background-image:                   url({% static 'img/house-01/340kb/1x-house-01-1440.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/340kb/1x-house-01-1440.webp' %}) 1x);  
      background-image:         image-set(url({% static 'img/house-01/340kb/1x-house-01-1440.jpg' %}) 1x);
    }
  }
</style>
<div class="background-image"></div>
